/* line 47, ../sass/style.scss */
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 51, ../sass/style.scss */
i {
  font-size: 16pt;
  margin-left: 5px;
  margin-right: 5px;
}

/* line 57, ../sass/style.scss */
body {
  background-image: url(../../static/img/gray_jean.png);
}

/* line 61, ../sass/style.scss */
header {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 65, ../sass/style.scss */
header h1 {
  color: #2FA4E7;
}
/* line 69, ../sass/style.scss */
header h2 {
  font-weight: normal;
  font-size: 14pt;
  color: #317EAC;
}

/* line 76, ../sass/style.scss */
.container {
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-shadow: 0 0 10px 0 black;
  -moz-box-shadow: 0 0 10px 0 black;
  box-shadow: 0 0 10px 0 black;
  background-image: url(../../static/img/brillant.png);
}

/* line 83, ../sass/style.scss */
#filter-options-btn {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #2fa4e7;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: whitesmoke;
  border: 1px solid #c2c2c2;
  margin-bottom: 10px;
}
/* line 21, ../sass/style.scss */
#filter-options-btn:hover, #filter-options-btn:active {
  color: #2fa4e7;
  background-color: #e8e8e8;
}
/* line 26, ../sass/style.scss */
#filter-options-btn:hover {
  color: #2fa4e7;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
/* line 33, ../sass/style.scss */
#filter-options-btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 39, ../sass/style.scss */
#filter-options-btn:active {
  background-color: #cccccc \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 92, ../sass/style.scss */
#select-user-controls .controls label {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: lightgrey;
  border: 1px solid #a0a0a0;
  width: 15%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 8pt;
  font-weight: lighter;
  margin-bottom: 10px;
  margin-left: 0;
  padding: 5;
}
/* line 21, ../sass/style.scss */
#select-user-controls .controls label:hover, #select-user-controls .controls label:active {
  color: #333333;
  background-color: #c6c6c6;
}
/* line 26, ../sass/style.scss */
#select-user-controls .controls label:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
/* line 33, ../sass/style.scss */
#select-user-controls .controls label:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 39, ../sass/style.scss */
#select-user-controls .controls label:active {
  background-color: #cccccc \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 104, ../sass/style.scss */
#select-user-controls .controls label.selected-mindcracker {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #669533;
  color: white;
  font-weight: bold;
}
/* line 112, ../sass/style.scss */
#select-user-controls .controls input {
  display: none;
}

/* line 118, ../sass/style.scss */
#select-all, #deselect-all {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: whitesmoke;
  border: 1px solid #c2c2c2;
}
/* line 21, ../sass/style.scss */
#select-all:hover, #select-all:active, #deselect-all:hover, #deselect-all:active {
  color: #333333;
  background-color: #e8e8e8;
}
/* line 26, ../sass/style.scss */
#select-all:hover, #deselect-all:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
/* line 33, ../sass/style.scss */
#select-all:focus, #deselect-all:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 39, ../sass/style.scss */
#select-all:active, #deselect-all:active {
  background-color: #cccccc \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 123, ../sass/style.scss */
.video {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 127, ../sass/style.scss */
.video .video-thumbnail {
  padding-top: 7px;
}
/* line 130, ../sass/style.scss */
.video .video-thumbnail img {
  border: 1px solid black;
}
/* line 135, ../sass/style.scss */
.video .video-title {
  font-size: 14pt;
}
@media (max-width: 767px) {
  /* line 135, ../sass/style.scss */
  .video .video-title {
    font-size: 12pt;
  }
}
/* line 143, ../sass/style.scss */
.video .video-title-duration {
  margin: 0;
  /*margin-top: 5px;
  margin-bottom: 5px;*/
}
/* line 149, ../sass/style.scss */
.video .video-controls {
  padding-top: 7px;
}
/* line 153, ../sass/style.scss */
.video .video-duration {
  font-size: 13px;
  font-weight: normal;
}
/* line 158, ../sass/style.scss */
.video .video-uploader {
  font-size: 12pt;
  font-weight: bold;
}
@media (max-width: 767px) {
  /* line 158, ../sass/style.scss */
  .video .video-uploader {
    font-size: 10pt;
  }
}
@media (max-width: 767px) {
  /* line 167, ../sass/style.scss */
  .video .video-uploaded {
    font-size: 8pt;
  }
}
/* line 173, ../sass/style.scss */
.video .video-controls a:hover {
  text-decoration: none;
}

/* line 178, ../sass/style.scss */
.video-divider {
  margin: 1px;
  padding: 1px;
  border-top: none;
  border-bottom: 1px solid #e6e6e6;
}

/* line 185, ../sass/style.scss */
.twitter, .reddit {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 191, ../sass/style.scss */
.twitter .twtr-timeline {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px solid #369CD7;
}
/* line 196, ../sass/style.scss */
.twitter .twtr-doc {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 200, ../sass/style.scss */
.twitter .twtr-ft {
  display: none;
}

/* line 206, ../sass/style.scss */
.reddit .rembeddit {
  border: 1px solid #369CD7 !important;
}
/* line 210, ../sass/style.scss */
.reddit .reddit-header {
  background-color: #369CD7 !important;
}
/* line 213, ../sass/style.scss */
.reddit .reddit-header h4 {
  color: white;
}

/* line 219, ../sass/style.scss */
#show-more {
  text-align: center;
}

/* line 223, ../sass/style.scss */
.footer-list {
  text-align: center;
}

/* line 227, ../sass/style.scss */
.footer-list li {
  display: inline-block;
  list-style: none;
  padding: 10px;
}
