/* line 6, ../sass/style.scss */
i {
  font-size: 16pt;
  margin-left: 5px;
  margin-right: 5px;
}

/* line 12, ../sass/style.scss */
body {
  font-family: "Helvetica", "Arial", "sans-serif";
}

/* line 16, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
}

/* line 21, ../sass/style.scss */
header {
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
/* line 26, ../sass/style.scss */
header h1 {
  display: inline-block;
  color: #2FA4E7;
  margin-right: 20px;
}
/* line 32, ../sass/style.scss */
header h2 {
  display: inline-block;
  font-weight: normal;
  font-size: 14pt;
  color: #999;
}

/* line 40, ../sass/style.scss */
.container {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 46, ../sass/style.scss */
#filter-options-btn {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* line 52, ../sass/style.scss */
#feed-options {
  margin-bottom: 40px;
}

/* line 57, ../sass/style.scss */
#select-user-controls input[type="checkbox"] {
  display: none;
}
/* line 60, ../sass/style.scss */
#select-user-controls input[type="checkbox"] + label {
  font-size: 8pt;
  font-weight: bold;
  margin: 0 2px 5px 0;
}
/* line 66, ../sass/style.scss */
#select-user-controls input[type="checkbox"]:checked + label {
  background-color: #669533;
  color: white;
}

/* line 73, ../sass/style.scss */
#select-all, #deselect-all {
  margin-top: 5px;
}

/* line 78, ../sass/style.scss */
.video {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
}
/* line 83, ../sass/style.scss */
.video:first-child {
  padding-top: 0;
}
/* line 88, ../sass/style.scss */
.video .video-thumbnail img {
  border: 1px solid black;
}
/* line 93, ../sass/style.scss */
.video .video-title {
  font-size: 16px;
  font-weight: 700;
}
/* line 98, ../sass/style.scss */
.video .video-title-duration {
  margin: 0;
  margin-top: -6px;
  margin-bottom: 8px;
  line-height: 0.5em;
}
/* line 105, ../sass/style.scss */
.video .video-controls {
  opacity: 0;
}
/* line 108, ../sass/style.scss */
.video .video-controls a {
  padding: 6px;
}
/* line 113, ../sass/style.scss */
.video:hover .video-controls {
  opacity: 1;
}
/* line 117, ../sass/style.scss */
.video .video-uploader-uploaded {
  margin-bottom: 16px;
}
/* line 121, ../sass/style.scss */
.video .video-duration {
  font-size: 12px;
  font-weight: 200;
}
/* line 126, ../sass/style.scss */
.video .video-uploader {
  font-size: px;
  font-weight: 200;
}
/* line 131, ../sass/style.scss */
.video .video-controls a:hover {
  text-decoration: none;
}
/* line 135, ../sass/style.scss */
.video .video-description {
  -webkit-transition: 0.125s height ease;
  -moz-transition: 0.125s height ease;
  -ms-transition: 0.125s height ease;
  transition: 0.125s height ease;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
/* line 146, ../sass/style.scss */
.video .description-control {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  padding: 0;
}
/* line 154, ../sass/style.scss */
.video:hover .description-control {
  opacity: 0.33;
}

/* line 159, ../sass/style.scss */
.twitter, .reddit {
  margin-bottom: 20px;
}

/* line 164, ../sass/style.scss */
.twitter .twtr-timeline {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px solid #369CD7;
}
/* line 169, ../sass/style.scss */
.twitter .twtr-doc {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 173, ../sass/style.scss */
.twitter .twtr-ft {
  display: none;
}

/* line 179, ../sass/style.scss */
.reddit .rembeddit {
  border: 1px solid #369CD7 !important;
}
/* line 183, ../sass/style.scss */
.reddit .reddit-header {
  background-color: #369CD7 !important;
}
/* line 186, ../sass/style.scss */
.reddit .reddit-header h4 {
  color: white;
}

/* line 192, ../sass/style.scss */
.loader {
  text-align: center;
  margin-bottom: 50px;
}

/* line 197, ../sass/style.scss */
.footer-nav {
  border-top: 1px solid #eee;
}

/* line 201, ../sass/style.scss */
.footer-list {
  text-align: center;
  margin: 0;
}

/* line 206, ../sass/style.scss */
.footer-list li {
  display: inline-block;
  list-style: none;
  padding: 10px;
}

@media (max-width: 767px) {
  /* line 213, ../sass/style.scss */
  .video .video-title-duration {
    overflow: visible;
    margin-bottom: 4px;
    margin-top: 8px;
    line-height: 18px;
  }

  /* line 220, ../sass/style.scss */
  .video .video-title {
    white-space: normal;
  }

  /* line 224, ../sass/style.scss */
  .video .video-uploader-uploaded {
    margin-bottom: 0;
  }
}
