@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/transition";

i {
	font-size: 16pt;
	margin-left: 5px;
	margin-right: 5px;
}

body {
	font-family: "Helvetica", "Arial", "sans-serif";

	@media (max-width: 767px) {
		padding: 0;
	}
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Noto Sans', sans-serif;
}


header {
	margin-bottom: 50px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;

	h1 {
		display:inline-block;
		color: #2FA4E7;
		margin-right: 20px;
	}

	h2 {
		display: inline-block;
		font-weight: normal;
		font-size: 14pt;
		color: #999;
	}
}

.container {
	padding-left: 30px;
	padding-right: 30px;
}


#filter-options-btn {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 30px;
}

#feed-options {
	margin-bottom: 40px;
}

#select-user-controls {
	input[type="checkbox"] {
		display: none;

		+ label {
			font-size: 8pt;
			font-weight: bold;
			margin: 0 2px 5px 0;
		}

		&:checked + label {
			background-color: #669533;
			color: white;
		}
	}
}

#select-all, #deselect-all {
	margin-top: 5px;
}


.video {
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #eee;


	.video-thumbnail {
		img {
			border: 1px solid black;
		}
	}

	.video-title {
		font-size: 16px;
		font-weight: 700;
		white-space: nowrap;

		@media (max-width: 767px) {
			font-size: 12pt;
		}
	}

	.video-title-duration {
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.video-controls {
		a {
			padding: 6px;
		}
	}

	.video-duration {
		font-size: 12px;
		font-weight: 200;
	}

	.video-uploader {
		font-size: px;
		font-weight: 200;

		@media (max-width: 767px) {
			font-size: 10pt;
		}
	}

	.video-uploaded {
		@media (max-width: 767px) {
			font-size: 8pt;
		}
	}

	.video-controls a:hover {
		text-decoration: none;
	}
}

.twitter, .reddit {
	margin-bottom: 20px;
}

.twitter {
	.twtr-timeline {
		@include border-radius(0);
		border-bottom: 1px solid #369CD7;
	}

	.twtr-doc {
		@include border-radius(0);
	}

	.twtr-ft {
		display: none;
	}
}

.reddit {
	.rembeddit {
		border: 1px solid #369CD7 !important;
	}

	.reddit-header {
		background-color: #369CD7 !important;

		h4 {
			color: white;
		}
	}
}

.loader {
	text-align: center;
	margin-bottom: 50px;
}

.footer-nav {
	border-top: 1px solid #eee;
}

.footer-list {
    text-align: center;
    margin: 0;
}

.footer-list li {
    display: inline-block;
    list-style: none;
    padding: 10px;
}
