<form class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="inlineCheckboxes">MindCrackers</label>
            <div class="controls">
                {% for m in mindcrackers %}
                    <label class="inline checkbox badge {% if m['username'] in checked or not checked %}badge-success{% end %} options-mindcrackers">
                        <input type="checkbox" name="mindcrackers-select" id="{{ m['username'] }}-checkbox" value="{{ m['username'] }}" {% if m['username'] in checked or not checked %}checked="true"{% end %}>{{ m['name'] }}
                    </label>
                {% end %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button id="select-all" class="btn">Select all</button>
                <button id="deselect-all" class="btn">Deselect all</button>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="number-videos">Videos per page</label>
            <div class="controls">
                <select id="number-videos">
                    <option>5</option>
                    <option>15</option>
                    <option selected="selected">30</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
        </div>

        <div class="form-actions">
            <a data-toggle="collapse" data-target="#feed-options" id="options-submit" class="btn btn-primary">Done</a>
        </div>
    </fieldset>
</form>