<form class="form-horizontal">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="inlineCheckboxes">Mindcrackers</label>
            <div class="controls mindcrackers-select">
                {% for m in mindcrackers %}
                <label class="inline checkbox">
                    <input type="checkbox" id="{{ m['username'] }}-checkbox" value="{{ m['username'] }}" checked="true">{{ m['username'] }}</label>
                {% end %}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="number-videos">Videos per page</label>
            <div class="controls">
              <select id="number-videos">
                <option>5</option>
                <option>15</option>
                <option selected="selected">30</option>
                <option>50</option>
                <option>100</option>
              </select>
            </div>
          </div>
        <div class="form-actions">
            <a data-toggle="collapse" data-target="#feed-options" id="options-submit" class="btn btn-primary">Filter</a>
            <a data-toggle="collapse" data-target="#feed-options" id="options-cancel" class="btn">Cancel</a>
        </div>
    </fieldset>
</form>