{% import util %}
<div class="video row" data-video-id="{{ video['video_id'] }}">
    <div class="video-thumbnail span1">
        <a href="http://www.youtube.com/watch?v={{ video['video_id'] }}">
            <img src="{{ video['thumbnail'] }}" alt="{{ video['title'] }} thumbnail"></a>
    </div>
    <div class="video-title-duration span9">
        <h2 class="video-title">
            <span class="video-title">
                <a href="http://www.youtube.com/watch?v={{ video['video_id'] }}">{{ video['title'] }}</a>
            </span>
            <span class="video-duration">({{ util.get_HMS(video['duration']) }})</span>
        </h2>
        <p class="video-uploader-uploaded">
            <span class="video-uploader">
                <a href="http://www.youtube.com/{{ video['uploader'] }}">{{ video['uploader'] }}</a>
            </span>
            <span class="video-uploaded">uploaded {{ util.get_fancy_time(video['uploaded']) }}</span>
        </p>
    </div>
    <div class="video-controls span2">
        <div class="pull-right">
            <a href="#">
                <i class="icon-remove video-remove-control"></i>
            </a>
        </div>
    </div>
</div>