{% extends "base.html" %}

{% block body %}
<h1>About</h1>
<h2>Why Mindcrack Feed?</h2>
<p>
	The YouTube homepage can make it difficult to keep up with everything the Mindcrack guys are putting out, especially since the homepage was revamped. Mindcrack feed is an attempt to solve that problem.
</p>
<h2>How does it work?</h2>
<p>
	Mindcrack Feed will poll the upload feeds of each Mindcracker every five minutes and store any new videos in a database. This lets Mindcrack Feed return answers to your queries more quickly, hopefully making the application snappier.
</p>
<h2>I have a suggestion</h2>
<p>
	Great!
	<a href="mailto:andrew@atshughson.me">Send me an e-mail.</a>
</p>
{% end %}