<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>mcnagg | Videos from the MindCrack Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A MindCrack Network content aggregator. Find the latest tweets, videos, and community content from the MindCrack Network.">
    <meta name="author" content="huggies">

    <!-- Le styles -->
    <link href="{{ static_url("vendor/bootstrap/dist/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="{{ static_url("css/style.css") }}" rel="stylesheet">

    <link rel="shortcut icon" href="{{ static_url("img/favicon.png") }}">
</head>
<body>
    <header>
        <hgroup class="container">
            <h1>mcnagg</h1>
            <h2>mindcrack network aggregator</h2>
        </hgroup>
    </header>

    {% block body %}{% end %}

    <footer class="footer-nav">
        <div class="container">
            <ul class="footer-list">
                <li>
                    <a href="http://twitter.com/bighuggies">Tweet Feedback!</a>
                </li>

                <li>
                    <a href="http://atsh.me">&copy; 2014 bighuggies</a>
                </li>
                <li>
                    <a href="#">Top</a>
                </li>
            </ul>
        </div>
    </footer>


    <script src="{{ static_url("vendor/jquery/dist/jquery.min.js") }}"></script>
    <script src="{{ static_url("vendor/bootstrap/dist/js/bootstrap.min.js") }}"></script>
    <script src="{{ static_url("js/script.js") }}"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35906864-1']);
        _gaq.push(['_setDomainName', 'mcnagg.tv']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
