{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="header span12">
        <h1>
            <span class="heading">Mindcrack Video Feed</span>
            <span class="options pull-right">
                <a href="#" data-toggle="collapse" data-target="#feed-options">
                    Options <i id="feed-options-icon" class="icon-chevron-down"></i>
                </a>
            </span>
        </h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div id="feed-options" class=" collapse">
            <div class="accordion-inner">{{ modules.Options(mindcrackers) }}</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="video-list span9">
        {% for video in videos %}
        {{ modules.Video(video) }}
        <div class="divider row" data-video-id="{{ video['video_id'] }}">
            <div class="span9">
                <hr class="video-divider"></div>
        </div>
        {% end %}
        <div id="show-more" class="row">
            <div class="span9">
                <a href="#">
                    <h2>Show more</h2> <i id="show-more-icon" class="icon-chevron-down"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="twitter">{{modules.Twitter()}}</div>
        <div class="reddit">{{modules.Reddit()}}</div>
    </div>
</div>
{% end %}